<ul class="nav nav-pills">
    <li>@Html.ActionLink("调度器管理", "scheduler-manager", "home")</li>
    <li>@Html.ActionLink("作业管理", "job-manager", "home")</li>
    <li>@Html.ActionLink("触发器管理", "trigger-manager", "home")</li>
</ul>