<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="BatchJobDbContext" connectionString="pwd=123456;uid=sa;database=BatchJobDevDb;server=127.0.0.1;Trusted_Connection=False;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="QuartzDBContext" connectionString="pwd=123456;uid=sa;database=Quartz;server=127.0.0.1;Trusted_Connection=False;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ServiceName" value="BatchJobRuntimeService"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileINFO"/>
      <appender-ref ref="RollingFileERROR"/>
    </root>
    <appender name="RollingFileINFO" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/INFO.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="(yyyyMMdd)" />
      <appendToFile value="true" />
      <RollingStyle value="Size" />
      <MaxSizeRollBackups value="500" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%t]%-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <appender name="RollingFileERROR" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/ERROR.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="(yyyyMMdd)" />
      <appendToFile value="true" />
      <RollingStyle value="Size" />
      <MaxSizeRollBackups value="500" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%t]%-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
</configuration>